{
  "extends": ["stylelint-config-recess-order", "stylelint-config-standard-scss"],
  "rules": {
    "selector-class-pattern": "^([a-z][a-zA-Z0-9]*)$",
    "scss/load-no-partial-leading-underscore": null
  }
}
