@use "sass:map";
@import "./variables";

$breakpoints: (
  mobile: "screen and (max-width: 767px)",
  tablet: "screen and (max-width: 1023px)",
  pc: "screen and (min-width: 1024px)",
);

@mixin respond-to($breakpoint) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin border-box {
  padding: 1rem;
  background: white;
  width: 100%;
  border: 1px solid $gray-300;
  border-radius: 8px;
}
