$white: #f7f7f7;
$black: #000000;
$error: #dc3a3a;
$surface: #f6f8ff;

$purple-100: #f8f0ff;
$purple-200: #ecd9ff;
$purple-300: #dcb9ff;
$purple-400: #c894fd;
$purple-500: #ab57ff;
$purple-600: #9935ff;
$purple-700: #861dee;
$purple-800: #630ad1;
$purple-900: #5603a7;

$blue-100: #e2edff;
$blue-200: #c7ddff;
$blue-300: #aacaff;
$blue-400: #8eb5ff;
$blue-500: #5f92ff;
$blue-600: #487cff;
$blue-700: #2e59ff;
$blue-800: #0e40ff;
$blue-900: #012cd2;

$yellow-100: #fff8e5;
$yellow-200: #ffeec0;
$yellow-300: #ffe6a0;
$yellow-400: #ffd970;
$yellow-500: #ffcd47;
$yellow-600: #ffc320;
$yellow-700: #ffba00;
$yellow-800: #f3b100;
$yellow-900: #e1a400;

$green-100: #ebf6e3;
$green-200: #d1ebbf;
$green-300: #bde2a3;
$green-400: #9fdb74;
$green-500: #84ce50;
$green-600: #6dbd35;
$green-700: #55a31f;
$green-800: #489016;
$green-900: #3a7d0c;

$red-100: #ffeef0;
$red-200: #ffdbe0;
$red-300: #ffc1ca;
$red-400: #ff9eab;
$red-500: #ff8a9a;
$red-600: #ff7084;
$red-700: #fe5b72;
$red-800: #ff435d;
$red-900: #f31c3a;

$gray-100: #f6f6f6;
$gray-200: #eeeeee;
$gray-300: #cccccc;
$gray-400: #999999;
$gray-500: #555555;
$gray-600: #4a4a4a;
$gray-700: #3a3a3a;
$gray-800: #2b2b2b;
$gray-900: #181818;
